{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "Use these APIs to manage Azure Front Door resources through the Azure Resource Manager. You must make sure that requests made to these resources are secure.",
        "title": "FrontDoorManagementClient",
        "version": "2018-08-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/frontdoor.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "frontdoor",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/providers/Microsoft.Network/checkFrontDoorNameAvailability": {
            "post": {
                "description": "Check the availability of a Front Door resource name.",
                "operationId": "CheckFrontDoorNameAvailability",
                "parameters": [
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Output of check name availability API.",
                                    "properties": {
                                        "message": {
                                            "description": "The detailed error message describing why the name is not available.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "nameAvailability": {
                                            "description": "Indicates whether the name is available.",
                                            "enum": [
                                                "Available",
                                                "Unavailable"
                                            ],
                                            "readOnly": true,
                                            "type": "string",
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "Availability"
                                            }
                                        },
                                        "reason": {
                                            "description": "The reason why the name is not available.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Front Door error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response indicates Front Door service is not able to process the incoming request. The reason is provided in the error message.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "CheckFrontDoorNameAvailability"
                ],
                "x-ms-examples": {
                    "CheckNameAvailability": {
                        "parameters": {
                            "api-version": "2018-08-01",
                            "checkFrontDoorNameAvailabilityInput": {
                                "name": "sampleName",
                                "type": "Microsoft.Network/FrontDoors"
                            }
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "message": "Name not available",
                                    "nameAvailability": "Unavailable",
                                    "reason": "Name is already in use"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Input of CheckNameAvailability API.",
                                "properties": {
                                    "name": {
                                        "description": "The resource name to validate.",
                                        "type": "string"
                                    },
                                    "type": {
                                        "description": "The type of the resource whose name is to be validated.",
                                        "enum": [
                                            "Microsoft.Network/frontDoors",
                                            "Microsoft.Network/frontDoors/frontendEndpoints"
                                        ],
                                        "type": "string",
                                        "x-ms-enum": {
                                            "modelAsString": false,
                                            "name": "ResourceType"
                                        }
                                    }
                                },
                                "required": [
                                    "name",
                                    "type"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "Input to check.",
                    "required": true
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Network/checkFrontDoorNameAvailability": {
            "post": {
                "description": "Check the availability of a Front Door subdomain.",
                "operationId": "CheckFrontDoorNameAvailabilityWithSubscription",
                "parameters": [
                    {
                        "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Output of check name availability API.",
                                    "properties": {
                                        "message": {
                                            "description": "The detailed error message describing why the name is not available.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "nameAvailability": {
                                            "description": "Indicates whether the name is available.",
                                            "enum": [
                                                "Available",
                                                "Unavailable"
                                            ],
                                            "readOnly": true,
                                            "type": "string",
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "Availability"
                                            }
                                        },
                                        "reason": {
                                            "description": "The reason why the name is not available.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Front Door error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response indicates Front Door service is not able to process the incoming request. The reason is provided in the error message.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "CheckFrontDoorNameAvailabilityWithSubscription"
                ],
                "x-ms-examples": {
                    "CheckNameAvailabilityWithSubscription": {
                        "parameters": {
                            "api-version": "2018-08-01",
                            "checkFrontDoorNameAvailabilityInput": {
                                "name": "sampleName",
                                "type": "Microsoft.Network/FrontDoors/frontendEndpoints"
                            },
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "message": "Name not available",
                                    "nameAvailability": "Unavailable",
                                    "reason": "Name is already in use"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Input of CheckNameAvailability API.",
                                "properties": {
                                    "name": {
                                        "description": "The resource name to validate.",
                                        "type": "string"
                                    },
                                    "type": {
                                        "description": "The type of the resource whose name is to be validated.",
                                        "enum": [
                                            "Microsoft.Network/frontDoors",
                                            "Microsoft.Network/frontDoors/frontendEndpoints"
                                        ],
                                        "type": "string",
                                        "x-ms-enum": {
                                            "modelAsString": false,
                                            "name": "ResourceType"
                                        }
                                    }
                                },
                                "required": [
                                    "name",
                                    "type"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "Input to check.",
                    "required": true
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Network/frontDoors": {
            "get": {
                "description": "Lists all of the Front Doors within an Azure subscription.",
                "operationId": "FrontDoors_List",
                "parameters": [
                    {
                        "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Result of the request to list Front Doors. It contains a list of Front Door objects and a URL link to get the next set of results.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "URL to get the next set of Front Door objects if there are any.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of Front Doors within a resource group.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "Common resource representation.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Resource ID.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location.",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Resource name.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags.",
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "Resource type.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "Front Door represents a collection of backend endpoints to route traffic to along with rules that specify how traffic is sent there.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "Properties of the Front Door Load Balancer",
                                                        "x-ms-client-flatten": true,
                                                        "allOf": [
                                                            {
                                                                "description": "The properties needed to update a Front Door",
                                                                "properties": {
                                                                    "backendPools": {
                                                                        "description": "Backend pools available to routing rules.",
                                                                        "items": {
                                                                            "description": "A backend pool",
                                                                            "allOf": [
                                                                                {
                                                                                    "description": "Reference to another subresource.",
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "description": "Resource ID.",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "x-ms-azure-resource": true,
                                                                                    "type": "object"
                                                                                }
                                                                            ],
                                                                            "properties": {
                                                                                "name": {
                                                                                    "description": "Resource name.",
                                                                                    "type": "string"
                                                                                },
                                                                                "properties": {
                                                                                    "description": "Properties of the Front Door Backend Pool",
                                                                                    "x-ms-client-flatten": true,
                                                                                    "allOf": [
                                                                                        {
                                                                                            "description": "A collection of backends that can be routed to.",
                                                                                            "properties": {
                                                                                                "backends": {
                                                                                                    "description": "The set of backends for this pool",
                                                                                                    "items": {
                                                                                                        "description": "Backend address of a frontDoor load balancer.",
                                                                                                        "properties": {
                                                                                                            "address": {
                                                                                                                "description": "Location of the backend (IP address or FQDN)",
                                                                                                                "type": "string"
                                                                                                            },
                                                                                                            "backendHostHeader": {
                                                                                                                "description": "The value to use as the host header sent to the backend. If blank or unspecified, this defaults to the incoming host.",
                                                                                                                "type": "string"
                                                                                                            },
                                                                                                            "enabledState": {
                                                                                                                "description": "Whether to enable use of this backend. Permitted values are 'Enabled' or 'Disabled'",
                                                                                                                "enum": [
                                                                                                                    "Enabled",
                                                                                                                    "Disabled"
                                                                                                                ],
                                                                                                                "type": "string",
                                                                                                                "x-ms-enum": {
                                                                                                                    "modelAsString": true,
                                                                                                                    "name": "FrontDoorEnabledState"
                                                                                                                }
                                                                                                            },
                                                                                                            "httpPort": {
                                                                                                                "description": "The HTTP TCP port number. Must be between 1 and 65535.",
                                                                                                                "exclusiveMaximum": false,
                                                                                                                "exclusiveMinimum": false,
                                                                                                                "maximum": 65535,
                                                                                                                "minimum": 1,
                                                                                                                "type": "integer"
                                                                                                            },
                                                                                                            "httpsPort": {
                                                                                                                "description": "The HTTPS TCP port number. Must be between 1 and 65535.",
                                                                                                                "exclusiveMaximum": false,
                                                                                                                "exclusiveMinimum": false,
                                                                                                                "maximum": 65535,
                                                                                                                "minimum": 1,
                                                                                                                "type": "integer"
                                                                                                            },
                                                                                                            "priority": {
                                                                                                                "description": "Priority to use for load balancing. Higher priorities will not be used for load balancing if any lower priority backend is healthy.",
                                                                                                                "maximum": 5,
                                                                                                                "minimum": 1,
                                                                                                                "type": "integer"
                                                                                                            },
                                                                                                            "weight": {
                                                                                                                "description": "Weight of this endpoint for load balancing purposes.",
                                                                                                                "maximum": 1000,
                                                                                                                "minimum": 1,
                                                                                                                "type": "integer"
                                                                                                            }
                                                                                                        },
                                                                                                        "type": "object"
                                                                                                    },
                                                                                                    "type": "array"
                                                                                                },
                                                                                                "healthProbeSettings": {
                                                                                                    "description": "Reference to another subresource.",
                                                                                                    "properties": {
                                                                                                        "id": {
                                                                                                            "description": "Resource ID.",
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    },
                                                                                                    "x-ms-azure-resource": true,
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "loadBalancingSettings": {
                                                                                                    "description": "Reference to another subresource.",
                                                                                                    "properties": {
                                                                                                        "id": {
                                                                                                            "description": "Resource ID.",
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    },
                                                                                                    "x-ms-azure-resource": true,
                                                                                                    "type": "object"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        }
                                                                                    ],
                                                                                    "properties": {
                                                                                        "resourceState": {
                                                                                            "description": "Resource status.",
                                                                                            "enum": [
                                                                                                "Creating",
                                                                                                "Enabling",
                                                                                                "Enabled",
                                                                                                "Disabling",
                                                                                                "Disabled",
                                                                                                "Deleting"
                                                                                            ],
                                                                                            "readOnly": true,
                                                                                            "title": "Resource status of the Front Door or Front Door SubResource.",
                                                                                            "type": "string",
                                                                                            "x-ms-enum": {
                                                                                                "modelAsString": true,
                                                                                                "name": "FrontDoorResourceState"
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "type": {
                                                                                    "description": "Resource type.",
                                                                                    "readOnly": true,
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "enabledState": {
                                                                        "description": "Operational status of the Front Door load balancer. Permitted values are 'Enabled' or 'Disabled'",
                                                                        "enum": [
                                                                            "Enabled",
                                                                            "Disabled"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": true,
                                                                            "name": "FrontDoorEnabledState"
                                                                        }
                                                                    },
                                                                    "friendlyName": {
                                                                        "description": "A friendly name for the frontDoor",
                                                                        "type": "string"
                                                                    },
                                                                    "frontendEndpoints": {
                                                                        "description": "Frontend endpoints available to routing rules.",
                                                                        "items": {
                                                                            "description": "A frontend endpoint",
                                                                            "allOf": [
                                                                                {
                                                                                    "description": "Reference to another subresource.",
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "description": "Resource ID.",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "x-ms-azure-resource": true,
                                                                                    "type": "object"
                                                                                }
                                                                            ],
                                                                            "properties": {
                                                                                "name": {
                                                                                    "description": "Resource name.",
                                                                                    "type": "string"
                                                                                },
                                                                                "properties": {
                                                                                    "description": "Properties of the Frontend endpoint",
                                                                                    "x-ms-client-flatten": true,
                                                                                    "allOf": [
                                                                                        {
                                                                                            "description": "Frontend endpoint used in routing rule",
                                                                                            "properties": {
                                                                                                "hostName": {
                                                                                                    "description": "The host name of the frontendEndpoint. Must be a domain name.",
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "sessionAffinityEnabledState": {
                                                                                                    "description": "Whether to allow session affinity on this host. Valid options are 'Enabled' or 'Disabled'",
                                                                                                    "enum": [
                                                                                                        "Enabled",
                                                                                                        "Disabled"
                                                                                                    ],
                                                                                                    "type": "string",
                                                                                                    "x-ms-enum": {
                                                                                                        "modelAsString": true,
                                                                                                        "name": "SessionAffinityEnabledState"
                                                                                                    }
                                                                                                },
                                                                                                "sessionAffinityTtlSeconds": {
                                                                                                    "description": "UNUSED. This field will be ignored. The TTL to use in seconds for session affinity, if applicable.",
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "webApplicationFirewallPolicyLink": {
                                                                                                    "description": "Defines the Web Application Firewall policy for each host (if applicable)",
                                                                                                    "properties": {
                                                                                                        "id": {
                                                                                                            "description": "Resource ID.",
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        }
                                                                                    ],
                                                                                    "properties": {
                                                                                        "customHttpsConfiguration": {
                                                                                            "description": "The configuration specifying how to enable HTTPS",
                                                                                            "readOnly": true,
                                                                                            "properties": {
                                                                                                "certificateSource": {
                                                                                                    "description": "Defines the source of the SSL certificate",
                                                                                                    "enum": [
                                                                                                        "AzureKeyVault",
                                                                                                        "FrontDoor"
                                                                                                    ],
                                                                                                    "type": "string",
                                                                                                    "x-ms-enum": {
                                                                                                        "modelAsString": true,
                                                                                                        "name": "FrontDoorCertificateSource"
                                                                                                    }
                                                                                                },
                                                                                                "frontDoorCertificateSourceParameters": {
                                                                                                    "description": "Parameters required for enabling SSL with Front Door-managed certificates (if certificateSource=FrontDoor)",
                                                                                                    "x-ms-client-flatten": true,
                                                                                                    "properties": {
                                                                                                        "certificateType": {
                                                                                                            "description": "Defines the type of the certificate used for secure connections to a frontendEndpoint",
                                                                                                            "enum": [
                                                                                                                "Dedicated"
                                                                                                            ],
                                                                                                            "type": "string",
                                                                                                            "x-ms-enum": {
                                                                                                                "modelAsString": true,
                                                                                                                "name": "FrontDoorCertificateType"
                                                                                                            }
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "keyVaultCertificateSourceParameters": {
                                                                                                    "description": "KeyVault certificate source parameters (if certificateSource=AzureKeyVault)",
                                                                                                    "x-ms-client-flatten": true,
                                                                                                    "properties": {
                                                                                                        "secretName": {
                                                                                                            "description": "The name of the Key Vault secret representing the full certificate PFX",
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "secretVersion": {
                                                                                                            "description": "The version of the Key Vault secret representing the full certificate PFX",
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "vault": {
                                                                                                            "description": "The Key Vault containing the SSL certificate",
                                                                                                            "properties": {
                                                                                                                "id": {
                                                                                                                    "description": "Resource ID.",
                                                                                                                    "type": "string"
                                                                                                                }
                                                                                                            },
                                                                                                            "type": "object"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "protocolType": {
                                                                                                    "description": "Defines the TLS extension protocol that is used for secure delivery",
                                                                                                    "enum": [
                                                                                                        "ServerNameIndication"
                                                                                                    ],
                                                                                                    "type": "string",
                                                                                                    "x-ms-enum": {
                                                                                                        "modelAsString": true,
                                                                                                        "name": "FrontDoorTlsProtocolType"
                                                                                                    }
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "customHttpsProvisioningState": {
                                                                                            "description": "Provisioning status of Custom Https of the frontendEndpoint.",
                                                                                            "enum": [
                                                                                                "Enabling",
                                                                                                "Enabled",
                                                                                                "Disabling",
                                                                                                "Disabled",
                                                                                                "Failed"
                                                                                            ],
                                                                                            "readOnly": true,
                                                                                            "type": "string",
                                                                                            "x-ms-enum": {
                                                                                                "modelAsString": true,
                                                                                                "name": "CustomHttpsProvisioningState"
                                                                                            }
                                                                                        },
                                                                                        "customHttpsProvisioningSubstate": {
                                                                                            "description": "Provisioning substate shows the progress of custom HTTPS enabling/disabling process step by step.",
                                                                                            "enum": [
                                                                                                "SubmittingDomainControlValidationRequest",
                                                                                                "PendingDomainControlValidationREquestApproval",
                                                                                                "DomainControlValidationRequestApproved",
                                                                                                "DomainControlValidationRequestRejected",
                                                                                                "DomainControlValidationRequestTimedOut",
                                                                                                "IssuingCertificate",
                                                                                                "DeployingCertificate",
                                                                                                "CertificateDeployed",
                                                                                                "DeletingCertificate",
                                                                                                "CertificateDeleted"
                                                                                            ],
                                                                                            "readOnly": true,
                                                                                            "type": "string",
                                                                                            "x-ms-enum": {
                                                                                                "modelAsString": true,
                                                                                                "name": "CustomHttpsProvisioningSubstate"
                                                                                            }
                                                                                        },
                                                                                        "resourceState": {
                                                                                            "description": "Resource status.",
                                                                                            "enum": [
                                                                                                "Creating",
                                                                                                "Enabling",
                                                                                                "Enabled",
                                                                                                "Disabling",
                                                                                                "Disabled",
                                                                                                "Deleting"
                                                                                            ],
                                                                                            "readOnly": true,
                                                                                            "title": "Resource status of the Front Door or Front Door SubResource.",
                                                                                            "type": "string",
                                                                                            "x-ms-enum": {
                                                                                                "modelAsString": true,
                                                                                                "name": "FrontDoorResourceState"
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "type": {
                                                                                    "description": "Resource type.",
                                                                                    "readOnly": true,
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "healthProbeSettings": {
                                                                        "description": "Health probe settings associated with this Front Door instance.",
                                                                        "items": {
                                                                            "description": "A health probe settings",
                                                                            "allOf": [
                                                                                {
                                                                                    "description": "Reference to another subresource.",
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "description": "Resource ID.",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "x-ms-azure-resource": true,
                                                                                    "type": "object"
                                                                                }
                                                                            ],
                                                                            "properties": {
                                                                                "name": {
                                                                                    "description": "Resource name.",
                                                                                    "type": "string"
                                                                                },
                                                                                "properties": {
                                                                                    "description": "Properties of the health probe settings",
                                                                                    "x-ms-client-flatten": true,
                                                                                    "allOf": [
                                                                                        {
                                                                                            "description": "L7 health probe settings for a backend pool",
                                                                                            "properties": {
                                                                                                "intervalInSeconds": {
                                                                                                    "description": "The number of seconds between health probes.",
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "path": {
                                                                                                    "description": "The path to use for the health probe. Default is /",
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "protocol": {
                                                                                                    "description": "Protocol scheme to use for this probe",
                                                                                                    "enum": [
                                                                                                        "Http",
                                                                                                        "Https"
                                                                                                    ],
                                                                                                    "type": "string",
                                                                                                    "x-ms-enum": {
                                                                                                        "modelAsString": true,
                                                                                                        "name": "FrontDoorProtocol"
                                                                                                    }
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        }
                                                                                    ],
                                                                                    "properties": {
                                                                                        "resourceState": {
                                                                                            "description": "Resource status.",
                                                                                            "enum": [
                                                                                                "Creating",
                                                                                                "Enabling",
                                                                                                "Enabled",
                                                                                                "Disabling",
                                                                                                "Disabled",
                                                                                                "Deleting"
                                                                                            ],
                                                                                            "readOnly": true,
                                                                                            "title": "Resource status of the Front Door or Front Door SubResource.",
                                                                                            "type": "string",
                                                                                            "x-ms-enum": {
                                                                                                "modelAsString": true,
                                                                                                "name": "FrontDoorResourceState"
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "type": {
                                                                                    "description": "Resource type.",
                                                                                    "readOnly": true,
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "loadBalancingSettings": {
                                                                        "description": "Load balancing settings associated with this Front Door instance.",
                                                                        "items": {
                                                                            "description": "A load balancing settings",
                                                                            "allOf": [
                                                                                {
                                                                                    "description": "Reference to another subresource.",
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "description": "Resource ID.",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "x-ms-azure-resource": true,
                                                                                    "type": "object"
                                                                                }
                                                                            ],
                                                                            "properties": {
                                                                                "name": {
                                                                                    "description": "Resource name.",
                                                                                    "type": "string"
                                                                                },
                                                                                "properties": {
                                                                                    "description": "Properties of the load balancing settings",
                                                                                    "x-ms-client-flatten": true,
                                                                                    "allOf": [
                                                                                        {
                                                                                            "description": "Round-Robin load balancing settings for a backend pool",
                                                                                            "properties": {
                                                                                                "additionalLatencyMilliseconds": {
                                                                                                    "description": "The additional latency in milliseconds for probes to fall into the lowest latency bucket",
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "sampleSize": {
                                                                                                    "description": "The number of samples to consider for load balancing decisions",
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "successfulSamplesRequired": {
                                                                                                    "description": "The number of samples within the sample period that must succeed",
                                                                                                    "type": "integer"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        }
                                                                                    ],
                                                                                    "properties": {
                                                                                        "resourceState": {
                                                                                            "description": "Resource status.",
                                                                                            "enum": [
                                                                                                "Creating",
                                                                                                "Enabling",
                                                                                                "Enabled",
                                                                                                "Disabling",
                                                                                                "Disabled",
                                                                                                "Deleting"
                                                                                            ],
                                                                                            "readOnly": true,
                                                                                            "title": "Resource status of the Front Door or Front Door SubResource.",
                                                                                            "type": "string",
                                                                                            "x-ms-enum": {
                                                                                                "modelAsString": true,
                                                                                                "name": "FrontDoorResourceState"
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "type": {
                                                                                    "description": "Resource type.",
                                                                                    "readOnly": true,
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "routingRules": {
                                                                        "description": "Routing rules associated with this Front Door.",
                                                                        "items": {
                                                                            "description": "A routing rule",
                                                                            "allOf": [
                                                                                {
                                                                                    "description": "Reference to another subresource.",
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "description": "Resource ID.",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "x-ms-azure-resource": true,
                                                                                    "type": "object"
                                                                                }
                                                                            ],
                                                                            "properties": {
                                                                                "name": {
                                                                                    "description": "Resource name.",
                                                                                    "type": "string"
                                                                                },
                                                                                "properties": {
                                                                                    "description": "Properties of the Front Door Routing Rule",
                                                                                    "x-ms-client-flatten": true,
                                                                                    "allOf": [
                                                                                        {
                                                                                            "description": "Routing rules to apply to an endpoint",
                                                                                            "properties": {
                                                                                                "acceptedProtocols": {
                                                                                                    "description": "Protocol schemes to match for this rule",
                                                                                                    "items": {
                                                                                                        "description": "Accepted protocol schemes.",
                                                                                                        "enum": [
                                                                                                            "Http",
                                                                                                            "Https"
                                                                                                        ],
                                                                                                        "type": "string",
                                                                                                        "x-ms-enum": {
                                                                                                            "modelAsString": true,
                                                                                                            "name": "FrontDoorProtocol"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "array"
                                                                                                },
                                                                                                "backendPool": {
                                                                                                    "description": "Reference to another subresource.",
                                                                                                    "properties": {
                                                                                                        "id": {
                                                                                                            "description": "Resource ID.",
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    },
                                                                                                    "x-ms-azure-resource": true,
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "cacheConfiguration": {
                                                                                                    "description": "The caching configuration associated with this rule.",
                                                                                                    "properties": {
                                                                                                        "dynamicCompression": {
                                                                                                            "description": "Whether to use dynamic compression for cached content",
                                                                                                            "enum": [
                                                                                                                "Enabled",
                                                                                                                "Disabled"
                                                                                                            ],
                                                                                                            "type": "string",
                                                                                                            "x-ms-enum": {
                                                                                                                "modelAsString": true,
                                                                                                                "name": "DynamicCompressionEnabled"
                                                                                                            }
                                                                                                        },
                                                                                                        "queryParameterStripDirective": {
                                                                                                            "description": "Treatment of URL query terms when forming the cache key.",
                                                                                                            "enum": [
                                                                                                                "StripNone",
                                                                                                                "StripAll"
                                                                                                            ],
                                                                                                            "type": "string",
                                                                                                            "x-ms-enum": {
                                                                                                                "modelAsString": true,
                                                                                                                "name": "FrontDoorQuery"
                                                                                                            }
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "customForwardingPath": {
                                                                                                    "description": "A custom path used to rewrite resource paths matched by this rule. Leave empty to use incoming path.",
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "enabledState": {
                                                                                                    "description": "Whether to enable use of this rule. Permitted values are 'Enabled' or 'Disabled'",
                                                                                                    "enum": [
                                                                                                        "Enabled",
                                                                                                        "Disabled"
                                                                                                    ],
                                                                                                    "type": "string",
                                                                                                    "x-ms-enum": {
                                                                                                        "modelAsString": true,
                                                                                                        "name": "FrontDoorEnabledState"
                                                                                                    }
                                                                                                },
                                                                                                "forwardingProtocol": {
                                                                                                    "description": "Protocol this rule will use when forwarding traffic to backends.",
                                                                                                    "enum": [
                                                                                                        "HttpOnly",
                                                                                                        "HttpsOnly",
                                                                                                        "MatchRequest"
                                                                                                    ],
                                                                                                    "type": "string",
                                                                                                    "x-ms-enum": {
                                                                                                        "modelAsString": true,
                                                                                                        "name": "FrontDoorForwardingProtocol"
                                                                                                    }
                                                                                                },
                                                                                                "frontendEndpoints": {
                                                                                                    "description": "Frontend endpoints associated with this rule",
                                                                                                    "items": {
                                                                                                        "description": "Reference to another subresource.",
                                                                                                        "properties": {
                                                                                                            "id": {
                                                                                                                "description": "Resource ID.",
                                                                                                                "type": "string"
                                                                                                            }
                                                                                                        },
                                                                                                        "x-ms-azure-resource": true,
                                                                                                        "type": "object"
                                                                                                    },
                                                                                                    "type": "array"
                                                                                                },
                                                                                                "patternsToMatch": {
                                                                                                    "description": "The route patterns of the rule.",
                                                                                                    "items": {
                                                                                                        "description": "A route pattern of the rule. Must not have any * except possibly after the final / at the end of the path.",
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "type": "array"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        }
                                                                                    ],
                                                                                    "properties": {
                                                                                        "resourceState": {
                                                                                            "description": "Resource status.",
                                                                                            "enum": [
                                                                                                "Creating",
                                                                                                "Enabling",
                                                                                                "Enabled",
                                                                                                "Disabling",
                                                                                                "Disabled",
                                                                                                "Deleting"
                                                                                            ],
                                                                                            "readOnly": true,
                                                                                            "title": "Resource status of the Front Door or Front Door SubResource.",
                                                                                            "type": "string",
                                                                                            "x-ms-enum": {
                                                                                                "modelAsString": true,
                                                                                                "name": "FrontDoorResourceState"
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "type": {
[...]
